In [12]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import pickle
from IPython.display import display

# Load preprocessed training and testing data
df_train = pd.read_csv('../data/processed/preprocessed_training.csv', delimiter=";")
df_test = pd.read_csv('../data/processed/preprocessed_testing.csv', delimiter=";")

# Initialize TF-IDF Vectorizer
tfidf_vectorizer = TfidfVectorizer()

# Fit and transform training data
X_train_tfidf = tfidf_vectorizer.fit_transform(df_train['stemming'])

# Transform testing data
X_test_tfidf = tfidf_vectorizer.transform(df_test['stemming'])

# Save TF-IDF Vectorizer
with open('../data/tfidf/tfidf_vectorizer.pkl', 'wb') as f:
    pickle.dump(tfidf_vectorizer, f)

# Save transformed training data
with open('../data/tfidf/tfidf_training.pkl', 'wb') as f:
    pickle.dump(X_train_tfidf, f)

# Save transformed testing data
with open('../data/tfidf/tfidf_testing.pkl', 'wb') as f:
    pickle.dump(X_test_tfidf, f)

def display_nonzero_tfidf(tfidf_matrix, feature_names, title, num_samples=5):
    df_tfidf = pd.DataFrame(tfidf_matrix[:num_samples].toarray(), columns=feature_names)
    df_nonzero = df_tfidf.loc[:, (df_tfidf != 0).any(axis=0)]  # Hanya menampilkan kolom dengan nilai tidak nol
    display(df_nonzero.head(num_samples))

# Show sample results
display_nonzero_tfidf(X_train_tfidf, tfidf_vectorizer.get_feature_names_out(), "ðŸ“Œ TF-IDF Features - Data Training")
display_nonzero_tfidf(X_test_tfidf, tfidf_vectorizer.get_feature_names_out(), "ðŸ“Œ TF-IDF Features - Data Testing")

,abar,abbas,abdul,abdullah,abdurrahman,abu,ada,agama,ahli,aisyah,...,uzza,wahai,wahyu,wajib,waroqoh,yahudi,yakin,yunus,yusuf,zuhri
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.026585,0.031915,0.024356,0.055778,0.000000,...,0.000000,0.015234,0.000000,0.000000,0.000000,0.077208,0.000000,0.026765,0.000000,0.026833
1,0.031359,0.000000,0.038171,0.051611,0.037262,0.039513,0.023718,0.036200,0.000000,0.000000,...,0.056538,0.067927,0.194664,0.000000,0.401501,0.000000,0.045487,0.039781,0.040853,0.079764
2,0.000000,0.107059,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.058138,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.111111,...,0.000000,0.000000,0.146626,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

,aku,allah,amru,anjing,baligh,benar,beri,bin,darah,diri,...,saibah,sembah,suami,sungguh,tarik,tato,tengah,tiga,tsulutsul,wanita
0,0.000000,0.19002,0.000000,0.00000,0.000000,0.342923,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.237092,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.117692,0.00000,0.302729,0.00000,0.000000,0.000000,0.000000,0.17087,0.000000,0.000000,...,0.531444,0.320811,0.000000,0.000000,0.366108,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.097235,0.00000,0.000000,0.00000,0.380565,0.000000,0.000000,0.00000,0.000000,0.163941,...,0.000000,0.000000,0.000000,0.135893,0.000000,0.000000,0.000000,0.189231,0.454393,0.000000
3,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.559866,0.000000,0.000000,0.000000,0.253037,0.000000,0.000000,0.207127
4,0.000000,0.00000,0.000000,0.23824,0.000000,0.000000,0.115818,0.00000,0.207469,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.584541,0.000000,0.000000,0.000000,0.000000